@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.printbleed{
    font-family: "Inter", serif;
    letter-spacing: -5px;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    filter: blur(0.8px)
}

.printbleed2{
    font-family: "Inter", serif;
    letter-spacing: -4px;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    filter: blur(0.8px)
}

.printbleedmini{
    font-family: "Inter", serif;
    letter-spacing: -5px;
    font-size: 30px;
    text-align: left;  
    color: rgb(0, 0, 0);
}

.paratex {
    font-family: "Inter", serif;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.paratex a,
.paratex a:link,
.paratex a:visited,
.paratex a:hover,
.paratex a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
    outline: none;
}

.section {
    margin-bottom: 30px;
}

.section div {
    margin-bottom: 0;
}

/* Add space before section headers except the first section */
.section:not(:first-child) > div:first-child {
    margin-top: 15px;
}